name: Deploy static website

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
env:
  AWS_REGION: ap-south-1
  S3_BUCKET: "stp-session-2-task"

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}
        
    - name: Sync to S3 run
      run: |
          aws s3 sync . s3://${{ env.S3_BUCKET }}/
          --region ${{ env.AWS_REGION }}
          --delete
          --exclude ".git/"
          --exclude ".github/"
          --exclude ".gitignore"
          --exclude "README.md"
